<!DOCTYPE html>
    <head>
        <title>{{title}}</title>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script>
            var player = {};

            player.status = {
                seconds_left: 0
            };

            var handlePoll = function(data) {
                player.status.seconds_left = data['seconds-left'];
            }

            function updateServerInformations() {
                $.post('http://localhost:8000/status', {}, handlePoll, 'json');
                setTimeout('updateServerInformations()', 5000);
            }

            $(function(){ updateServerInformations(); });
        </script>
        {% if cookie['building-built-at'] is defined %}
            <script>
                function updateLocalStatus() {
                    if (player.status.seconds_left-- >= 0) {
                        var total   = player.status.seconds_left;
                        var seconds = total % 60;
                        var minutes = (total - seconds) / 60;

                        if (seconds >= 0) {
                            minutes = minutes < 10 ? '0' + minutes : minutes;
                            seconds = seconds < 10 ? '0' + seconds : seconds;

                            $('#seconds_left').html(seconds);
                            $('#minutes_left').html(minutes);
                        }
                    } else {
                        document.location.reload();
                    }
                    setTimeout('updateLocalStatus()', 1000);
                }
                updateLocalStatus();
            </script>
        {% endif %}
    </head>
    <body>

        <h1>Yagolands</h1>

        {% block content %}
            {% if cookie.username is defined %}
                Hi! {{cookie.username}} <a href="/logout">(logout)</a>
            {% else %}
                <a href="/login">login</a>
            {% endif %}
        {% endblock %}

        {% if cookie.village is defined %}
            <h2>Village: {{cookie.village}}</h2>
        {% else %}
            {% if cookie.username is defined %}
                <style> input { padding: 10px; } button { padding: 12px; } </style>
                <form method="post" action="/village">
                    <label for="village">Village</label>:
                    <input type="text" id="" name="village-name" placeholder="Mordor" autofocus/>
                    <button>accedi</button>
                </form>
            {% endif %}
        {% endif %}

        {% if cookie.username is defined and cookie.village is defined %}
            {% if cookie['building-built-at'] is not defined %}
                {% if cookie['castle-built'] is defined %}
                    {% if cookie['temple-built'] is not defined %}
                        <style> input { padding: 10px; } button { padding: 12px; } </style>
                        <form method="post" action="/temple">
                            <button>build temple</button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if cookie['windmill-built'] is defined %}
                    {% if cookie['village'] is defined %}
                        {% if cookie['castle-built'] is not defined %}
                            <style> input { padding: 10px; } button { padding: 12px; } </style>
                            <form method="post" action="/castle">
                                <button>build castle</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if cookie['village'] is defined %}
                    {% if cookie['windmill-built'] is not defined %}
                        <style> input { padding: 10px; } button { padding: 12px; } </style>
                        <form method="post" action="/windmill">
                            <button>build windmill</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if cookie['temple-built'] is defined %}
            <h2>Congratulations {{cookie.username}}, from the {{cookie.village}} village. You won the game.</h2>
        {% endif %}

        {% if cookie['building-built-at'] is defined %}
            <div id="seconds_left_container">Seconds left: <span id="minutes_left"></span>:<span id="seconds_left"></span></div>
        {% endif %}

    </body>
</html>
