<!DOCTYPE html>
    <head>
        <title>{{title}}</title>
        <script src="components/jquery/dist/jquery.min.js"></script>
        <script>
            var player = {};

            player.status = {
                seconds_left: 0
            };

            var handlePoll = function(data) {
                player.status.seconds_left = data['seconds-left'];
            }

            function updateServerInformations() {
                $.post('http://localhost:8000/status', {}, handlePoll, 'json');
                setTimeout('updateServerInformations()', 5000);
            }

            $(function(){ updateServerInformations(); });
        </script>
        {% if dataLayer.playerIsBuilding() %}
            <script>
                function updateLocalStatus() {
                    if (--player.status.seconds_left>= -1) {
                        var total   = player.status.seconds_left;
                        var seconds = total % 60;
                        var minutes = (total - seconds) / 60;

                        if (seconds >= 0) {
                            minutes = minutes < 10 ? '0' + minutes : minutes;
                            seconds = seconds < 10 ? '0' + seconds : seconds;

                            $('#seconds_left').html(seconds);
                            $('#minutes_left').html(minutes);
                        }
                    } else {
                        document.location.reload();
                    }
                    setTimeout('updateLocalStatus()', 1000);
                }
                updateLocalStatus();
            </script>
        {% endif %}
    </head>
    <body>

        <h1>Yagolands</h1>

        <div id="authentication">
            {% block authentication %}
                {% if cookie.username is defined %}
                    Hi! {{cookie.username}} <a href="/logout">(logout)</a>
                {% else %}
                    <a href="/login">login</a>
                {% endif %}
            {% endblock %}
        </div>

        <div id="game-area">
            {% if cookie.username is defined %}
                {% if cookie.village is defined %}
                    <h2>Village: {{cookie.village}}</h2>
                    {% if not dataLayer.playerIsBuilding() %}
                        {% for building in buildingTree.buildingList() %}
                            {% if buildingTree.isBuildable(building) %}
                                <style> input { padding: 10px; } button { padding: 12px; } </style>
                                <form method="post" action="/{{building}}">
                                    <button>build {{building}}</button>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <style> input { padding: 10px; } button { padding: 12px; } </style>
                    <form method="post" action="/village">
                        <label for="village">Village</label>:
                        <input type="text" id="" name="village-name" placeholder="Mordor" autofocus/>
                        <button>accedi</button>
                    </form>
                {% endif %}

                {% if dataLayer.playerHave('temple') %}
                    <h2>Congratulations {{cookie.username}}, from the {{cookie.village}} village. You won the game.</h2>
                {% endif %}

                {% if dataLayer.playerIsBuilding() %}
                    <div id="seconds_left_container">Seconds left: <span id="minutes_left"></span>:<span id="seconds_left"></span></div>
                {% endif %}
            {% endif %}
        </div>

    </body>
</html>
